.input--field {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .input {
    height: 22px;
    outline: 0;
    border: 1px solid #c1c1c1;
    padding: 0 5px;
    font-size: 12px;
    flex: 1;
    color: #000;
    width: inherit;
  }
  
  .input:disabled {
    background-color: #ececec!important;
  }
  
  .input.hide--border {
    border-color: transparent;
  }
  
  .input:focus {
    border-color: #0072bc;
  }
  
  .input--error {
    border-color: #e04742;
  }
  
  .input--error-icon {
    margin: 0 5px;
  }
  
  .textarea {
    width: 100%;
    resize: none;
    outline: 0;
    border: 1px solid #c1c1c1;
    padding-inline: 5px;
    font-size: 12px;
  }
  
  .textarea:focus {
    border-color: #0072bc;
  }
  
  .checkbox-label {
    display: flex;
    margin-top: 6px;
  }
  
  .checkbox-icon {
    background: url(@/assets/images/checkbox.png) no-repeat 0px 0px;
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }
  
  #checkbox:checked + .checkbox-label .checkbox-icon {
    background: url(@/assets/images/checkbox.png) no-repeat 0px -15px;
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input[type="money"],
  .input[type="number"] {
    text-align: right;
    -moz-appearance: textfield;
  }
  
  .radio-group {
    display: flex;
  }
  
  .radio-group label {
    display: flex;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .input-radio {
    display: none;
  }